body {
    background-color: #F9F5EB;
    color: #002B5B;
    font-family: Jua, sans-serif;
}

hr {
    background: #EA5455;
    height: 3px;
    border: 0
}

.color-div {
    width: 200px;
    height: 30px;
    border:solid 1px;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-size: 20px;
}


.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
    color: red;
}
