{% extends 'bootstrap/base.html' %}

{% block title %}Cafes{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cafe Name</th>
                        <th scope="col">Map</th>
                        <th scope="col">Image</th>
                        <th scope="col">Location</th>
                        <th scope="col">Socket</th>
                        <th scope="col">Toilet</th>
                        <th scope="col">WIFI</th>
                        <th scope="col">Calls</th>
                        <th scope="col">Seats</th>
                        <th scope="col">Coffee Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cafe in cafes %}
                        <tr>
                            <th scope="col">{{ cafe.name }}</th>
                            <th scope="col"><a href="{{ cafe.map_url }}">Map Link</a></th>
                            <th scope="col"><a href="{{ cafe.img_url }}">Image Link</a></th>
                            <th scope="col">{{ cafe.location }}</th>
                            <th scope="col">{{ "🟢" if cafe.has_sockets else "🔴"}}</th>
                            <th scope="col">{{ "🟢" if cafe.has_toilet else "🔴"}}</th>
                            <th scope="col">{{ "🟢" if cafe.has_wifi else "🔴"}}</th>
                            <th scope="col">{{ "🟢" if cafe.can_take_calls else "🔴"}}</th>
                            <th scope="col">{{ cafe.seats }}</th>
                            <th scope="col">{{ cafe.coffee_price }}</th>
                            <th scope="col"><a href="{{ url_for('update_cafe', cafe_id=cafe.id) }}">update</a></th>
                            <th scope="col"><a href="{{ url_for('delete_cafe', cafe_id=cafe.id) }}">delete</a></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p><a href="{{ url_for('home') }}">Return to home</a></p>

        </div>
    </div>
</div>

{% endblock %}